html(ng-app="app")
  head
    script(type="text/javascript", src="/bower_components/angular/angular.js")
    script(type="text/javascript", src="/dest/js/app.js")
  body
    section(ng-controller="AppCtrl as ctrl")
      | {{name}}